/*/build
/*/*/build
/*/*/*/build
/*/*/*/*/*/build
/**/docs/src/samples/**/build
/**/docs/src/snippets/**/build
/*/internal-android-performance-testing/build-android-libs
test-splits/
/gradle/verification-keyring.gpg

# IDEA
!/.idea
/.idea/*
Needed to track entry points and nullability annotations (see https://youtrack.jetbrains.com/issue/IDEA-354114 and https://youtrack.jetbrains.com/issue/IDEA-354115)
!/.idea/inspectionProfiles
!/.idea/icon.png
!/.idea/icon_dark.png
/.teamcity/target

*.classpath
atlassian-ide-plugin.xml

.nb-gradle

# Vim
# ---
*.sw[nop]

# Emacs
# -----
*~
\#*\#
.\#*

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# Draw.io
# -------
*.bkp
*.dtmp


# macOS
# ----
.DS_Store

# HPROF
# -----
*.hprof

/intTestHomeDir

# Logs
# ----
/*.log

# Thread dumps for troubleshooting
*.threaddump
# ps output for cleaning up leaking Java processes
*.psoutput

oh-my-zsh gradle plugin
.gradletasknamecache

# Added GE support maven support to the maven build in .teamcity, per the GE docs, this dir is NOT to be committed
.teamcity/.mvn/.develocity/

Ignore local configuration files for asdf, allowing the JDK to be configured for project (https://asdf-vm.com)
*.apache.org
restriction
fail
deny
blocked
abort
bug
error
err
.ruby
.rails
.ignore
system_ext
manual
redact
redacted
loss
.cn
.ru
.insta
se*
ack
jac
.gov
termux
.lool
.ai
.lk
.trusty
agent
.asc
.iso
index.php
.null
exit
kill
clean
purge
archive
cc*
r0
xr
~
\
¥
